body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  vertical-align: center;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.game-board {
  margin-right: 50px;
}

@media (orientation: portrait) {
  .game {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .game-board {
    margin-bottom: 50px;
    margin-right: 0px;
  }
}

.title {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
  background: #fff;
  border: 1px solid #999;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  height: calc(100vmin / 3 - 20px);
  width: calc(100vmin / 3 - 20px);
  max-height: 100px;
  max-width: 100px;
}

.square.allow:hover {
  cursor: pointer;
}

@media (max-height: 600px) {
  .square {
    height: calc(100vmin / 3 - 50px);
    width: calc(100vmin / 3 - 50px);
  }
}

@media (max-height: 200px) or (max-width: 200px) {
  .square {
    font-size: 20px;
  }
}

.square:focus {
  outline: none;
}
